.container {
  width: 100%;
  padding: 30px 50px 30px 50px;
  display: flex;
  flex-direction: column;
  & > .content {
    margin: 0 auto;
    & > .table-container {
      width: 100%;
      text-align: center;
      & > .table-title {
        font-size: 25px;
        font-family: Farah;
        padding: 0 0 50px 0;
      }
      & > table {
        border-collapse: collapse;
        > thead {
          > tr {
            > th {
              padding: 12px 0 12px 0;
              border-top: 1px solid #dadddf;
              min-width: 200px;
            }
          }
        }
        > tbody {
          > tr {
            > th {
              text-align: center;
              padding: 15px 0 15px 0;
              border-top: 1px solid #dadddf;
            }
          }
          > tr:nth-child(even){
            background-color: #e0edf4;
          }> tr:nth-child(odd){
             background-color: white;
           }
        }
      }
    }
    & > .form-container {
      padding: 50px 0 0 75px;
      & > form, .control {
        display: flex;
        flex-direction: column;
        padding: 5px 0 15px 0;
        & > label {
          color: #167fc4;
        }
        & > input {
          min-width: 400px;
          width: 50%;
          height: 20px;
        }
      }
      & > form > .doc {
        width: 160px;
        font-size: 16px;
        padding: 5px 0 5px 0;
        border-radius: 4px;
        background-color: #167fc4;
        color: white;
        margin: 0 0 15px 0;
        border: 0px;
        cursor: pointer;
      }
      & > form > .submit {
        width: 120px;
        font-size: 16px;
        padding: 5px 0 5px 0;
        border-radius: 4px;
        background-color: #167fc4;
        color: white;
        border: 0px;
        cursor: pointer;
      }
      .input-danger {
        border: 1px solid red;
      }
      .save-danger {
        cursor: auto;
        pointer-events: none;
        opacity: 0.7;
      }
    }
  }
}
