<div class="container">
  <div class="content">
    <div class="table-container">
      <div class="table-title">
        <label>Personas</label>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of personList">
            <th>{{person.name}}</th>
            <th>{{person.age}}</th>
            <th>{{person.gender}}</th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-container">
      <form [formGroup]="userForm" (ngSubmit)="addUserHandler(userForm)">
        <div class="control">
          <label>Nombre:</label>
          <input type="text" formControlName="name" id="name" [class.input-danger]="name.touched && name.errors">
        </div>
        <button type="button" class="doc save-danger">Subir Documento</button>
        <button type="submit" class="submit" [class.save-danger]="!userForm.valid">Guardar</button>
      </form>
    </div>
  </div>
</div>
